div {
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

h1 {
    text-align: center;
    font-size: xxx-large;
}

button{
    align-self: center;
    width: 9rem;
}

p{
    text-align: center;
}